$theme-colors: (
  "accent": #541412,
  "secondary": #7A7E85,
  "info":#64503B,
  "primary":#C3B189,
  "danger":#200697
);

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  header {
    display:flex;
    width:100%;
    height:20%;
  }
  
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  footer {
    flex: 0 30px;
  }
  
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }

  .entity {
    display: flex;
    flex-direction: column;
    width: 40%;
    // border-radius: 1px;
  }

  .combat {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: row;
    // align-items: center;
  }

  .pic {
    max-width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    flex: 1 1 auto;
    /* Allow images to grow and shrink */
    object-fit: cover;
  }

  .moves {
    // display: flex;
    // flex:1;
    flex-direction: row;
    width: 100%;
  }

  // .move {

  // }
  
  menu .nav-item {
    padding: 0 0.2em;
  }
  
  footer a {
    float: right;
  }
  
  // @media (max-height: 600px) {
  //   header {
  //     display: none;
  //   }
  //   footer {
  //     display: none;
  //   }
  //   main {
  //     flex: 1 100vh;
  //   }
  // }
  


@import "node_modules/bootstrap/scss/bootstrap";